.footer {
	width: 100%;
	background: #fff9ea;
	font-family: 'Readex Pro';
	margin-bottom: 0;
	padding-bottom: 0;
}
.footer-about {
	display: inline-block;
	margin-left: 40px;
	width: 25%;
}
.footer-about img {
	width: 200px;
}
.footer-about p {
	font-size: 15px;
	margin-top: -30px;
}

.footer-social {
	margin-top: 10px;
	display: flex;
}
.footer-social .footer-social-icon {
	margin-right: 15px;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.footer-social .footer-social-icon:hover {
	background: #ffcb45;
	cursor: pointer;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    height: 5px;
    margin-top: 20px;
}
.footer-bottom {
	bottom: 0;
}