.page-products {
	display: flex;
}

.left-side {
	width: 78%;
}
.right-side {
	width: 22%;
}
.no-product {
	display: flex;
	justify-content: center;
	align-items: center;
}
.no-product p {
	font-size: 22px;
}