.slider {
    width: 100%;
    height: 100%;
    position: relative;
}
.left-arrow {
    position: absolute;
    top: 50% !important;
    transform: translate(0, -50%);
    left: 2%;
    font-size: 45px;
    color: #333;
    z-index: 1;
    cursor: pointer;
}
.left-arrow:hover {
    color: white;
}
.right-arrow {
    position: absolute;
    top: 50% !important;
    transform: translate(0, -50%);
    right: 7%;
    font-size: 45px;
    color: #333;
    z-index: 1;
    cursor: pointer;
}
.slide {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 420px) {
    .slider {
        height: 70% !important;
    }
}